@using MVCStokProject.Models.Entity
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>ÜRÜN ID</th>
            <th>ÜRÜN ADI</th>
            <th>ÜRÜN MARKASI</th>
            <th>ÜRÜN KATEGORİSİ</th>
            <th>ÜRÜN FİYATI</th>
            <th>ÜRÜN STOK ADETİ</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var urun in Model)
        {
            <tr>
                <th>@urun.urunid</th>
                <td>@urun.urunAd</td>
                <td>@urun.urunMarka</td>
                <td>@urun.TBLKATEGRORILER.kategoriAd</td>
                <td>@urun.urunFiyat</td>
                <td>@urun.Stok</td>
                <td><a href="/Urun/Sil/@urun.urunid" class="btn btn-danger">SİL</a></td>
                <td><a href="/Urun/UrunGetir/@urun.urunid" class="btn btn-warning">GÜNCELLE</a></td>

            </tr>
        }
    </tbody>


</table>
<a href="/Urun/YeniUrun/" class="btn btn-primary">YENİ ÜRÜN EKLE</a>
@*Urun controller'ındaki Sil action result'a gider ve urunid parametre olarak geçilir. *@

<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<script>
    $('#tbl1').DataTable();
</script>